---
layout: default
<!-- _layouts 폴더의 default.html 호출-->
---

<!--추정 : page의 의미 : archive.html 자신을 부른 파일임. 여기서는 home.html-->

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<!-- default.html 마스터헤더 그린 후 실행됨-->
<div id="main" role="main">
  <!-- _includes 폴더의 sidebar.html 호출-->
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    <!-- home.html 호출-->    
    {{ content }}
  </div>
</div>
    <!-- archive.html 종료되서 default.html로 돌아감-->